.header-pyramid {
  background-color: #1c52ad;
  padding: 40px 0 0 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 60px;
}

.header-pyramid__logo {
  padding-bottom: 15px;
  width: 100px;
}
