.product-details__container {
  background-color: #fff;
  width: auto;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px 100px;
  padding: 10px;
}

.product-details__detail {
  max-width: 500px;
  align-self: flex-start;
  padding: 50px 0;
}

.product-details__btns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #8b8b8b;
  width: 300px;
  height: 160px;
}

.product-details__btns--cart {
  background-color: #ff674f;
}

.product-details__btns--cart:hover {
  background-color: #ff9242;
}
